<!-- header -->
<div class="ui inverted vertical masthead interstellar center aligned segment" >
    <div class="ui text container">
        <h1 class="ui inverted header swfont">FEstigE;K</h1>
        <h2 class="swfont">ÉditioN iOTErstEllaiR;</h2>
    </div>

    <div class="ui container fluid bottom">
        <a data-ng-click="goToId( 'festigeek' )" class="ui button">
            <i class="help icon"></i>
            FestiGeek
        </a>

        <a data-ng-click="goToId( 'associations' )" class="ui button">
            <i class="users icon"></i>
            Associations
        </a>

        <a data-ng-click="goToId( 'programme' )" class="ui button">
            <i class="calendar icon"></i>
            Programme
        </a>

        <a data-ng-click="goToId('acces')" class="ui button">
            <i class="map icon"></i>
            Accès
        </a>

        <a data-ng-click="goToId( 'ateliers' )" class="ui button">
            <i class="smile icon"></i>
            Ateliers
        </a>

        <a data-ng-click="goToId( 'contact' )" class="ui button">
            <i class="user icon"></i>
            Contact
        </a>
    </div>
</div>

<!-- presentation -->
<div id="festigeek" class="ui vertical stripe segment">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">PrésentAtion</h3>
                <p class="ui justified">Bienvenu sur le site officiel du FESTIGEEK, un festival se déroulant à Brest, fin février. Mais tout ceci n'est pas très précis : </p>
                <p class="ui justified">Le FESTIGEEK c'est LE festival de la culture Geek à Brest. Il permet de découvrir les nombreuses facettes de cette culture en proposant des ateliers (jeux de plateau, vidéo, de rôle, activités multimédia...), des expositions, des présentations et même une conférence, tout ceci en mettant à contribution les différents acteurs associatifs de ce milieu.</p>
                <p class="ui justified">Vous pouvez retrouver les dates des différents évènements du festival <a data-ng-click="goToId( 'programme' )" >ici</a>.</p>
                <p class="ui justified">Nous vous souhaitons une agréable visite.</p>
            </div>

            <div class="eight wide column">
                <h3 class="ui header">Le tIèmE iOterstEllaiRe</h3>
                <p class="ui justified">C'est bien beau de parler du thème interstellaire, mais à quoi cela correspond ? Voici une petite liste :</p>

                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- associations -->
<div id="associations" class="ui vertical stripe segment" >
    <div class="ui header container">
        <h3 class="ui header">Les associations</h3>
    </div>

    <div class="ui grid container">
        <div class="row">
            <div class="four wide column" data-ng-repeat="association in associations">
                <div class="ui card">
                    <div class="image">
                        <img class="ui wireframe image" src="{{ 'ressources/images/' + association.image }}" alt="{{ association.name }}" />
                    </div>

                    <div class="content">
                        <h3 class="header" >{{ association.name }}</h3>
                        <div class="meta">
                            <span>{{ association.meta }}</span>
                        </div>

                        <div class="description ui justified" data-ng-bind-html="association.description" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- accès -->
<div id="acces" class="ui vertical stripe segment">
    <div class="ui header container">
        <h3 class="ui header">Accès</h3>
    </div>

    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide column">
                <div class="banner color_white">
                    <iframe width="100%" height="700px" frameBorder="0" src="http://umap.openstreetmap.fr/fr/map/carte-sans-nom_23979?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=false&datalayersControl=false&onLoadPanel=caption&captionBar=false"></iframe><p><a href="http://umap.openstreetmap.fr/fr/map/carte-sans-nom_23979">Voir en plein écran</a></p>
                    <p class="style1">2 rue Alexandre Ribot, 29200 BREST</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Programme -->
<div id="programme" class="ui vertical stripe segment">
    <div class="ui header container">
        <h3 class="ui header">Programme</h3>
    </div>

    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide column">
                <div class="banner color_white">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header" >A propos</h4>

                <div class="ui inverted link list">
                    <a class="item">Sitemap</a>
                    <a class="item">Contactez-nous</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header" >Services</h4>

                <div class="ui inverted link list">
                    <a data-ng-click="goToId( 'programme' )" class="item">Programme</a>
                    <a data-ng-click="goToId( 'associations' )" class="item">Associations</a>
                    <a data-ng-click="goToId( 'acces' )" class="item">Accès</a>
                    <a data-ng-click="goToId( 'ateliers' )" class="item">Ateliers</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header" >Petit mots</h4>

                <p>Nous vous souhaitons une agréable visite.</p>
            </div>
        </div>
    </div>
</div>
