<div class="ui inverted vertical masthead interstellar center aligned segment" >
    <div class="ui text container">
        <h1 class="ui inverted header">FestiGeek</h1>
        <h2>Édition Interstellaire</h2>
    </div>

    <div class="ui container fluid bottom">
        <a href="#/associations" class="ui button">
            <i class="users icon"></i>
            Associations
        </a>

        <a href="#/programme" class="ui button">
            <i class="calendar icon"></i>
            Programme
        </a>
        <a href="#/acces" class="ui button">
            <i class="map icon"></i>
            Accès
        </a>

        <a href="#/ateliers" class="ui button">
            <i class="smile icon"></i>
            Ateliers
        </a>

        <a href="#/contact" class="ui button">
            <i class="user icon"></i>
            Contact
        </a>
    </div>
</div>
